.container {
  width: 80vw;
  margin: 0 auto;
}

.blog-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.blog-title {
  text-align: center;
}

.underline {
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}
