.active-link {
  color: hsl(60, 100%, 50%);
}

.home-link {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  font-family: Arial, Helvetica, sans-serif;
}
