.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#4a69bd, #0984e3);
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 0;
  margin: 0;
}

.menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .menu {
    display: block;
  }
}

/* Media Queries */

/* @media (max-width: 700px) {
  .tall {
    height: 100vh;
  }

  .navbar {
    padding-bottom: 2rem;
    padding-left: 0;
  }

  .header button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* padding-bottom: 3px; */
/* padding: 16px; */
/* align-self: center; */
/* display: block; */
/* font-weight: 700; */
/* } */

/* .site-title {
    font-size: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    color: yellow;
  } */

/* .header span {
    display: none;
  } */

/* .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding-left: 0;
  } */

/* .special-link {
    border: none;
    padding: 0;
    margin: 0;
  }
  .nav-list-item:last-child {
    font-weight: 800;
    border: none;
  } */

/* .span {
    font-size: 1rem;
    margin: 0 1rem;
  } */

/* .hidden {
    display: none;
  }
} */
