.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#4a69bd, #0984e3);
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 0;
  margin: 0;
}

.menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 14px 0;
  }

  .menu {
    display: block;
  }
}
