.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0984e3;
  color: white;
  font-family: "Comic Neue";
}

.site-title {
  font-size: 2.75rem;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-right: 0;
}

.span {
  font-size: 2rem;
  margin: 0 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-list-item {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  color: white;
}

.title-link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.special-link {
  border-left: 1px solid white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-list-item:last-child {
  border-left: 1px solid white;
  font-weight: 800;
}

.header button {
  display: none;
}

.header svg {
  font-size: 1.5rem;
  padding-left: 3px;
  margin-left: 3px;
}

/* Media Queries */

@media (max-width: 600px) {
  .tall {
    height: 100vh;
  }

  .navbar {
    padding-bottom: 2rem;
    padding-left: 0;
  }

  .header button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 3px;
    padding-top: 3px;
    align-self: center;
    display: block;
  }

  .site-title {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: yellow;
  }

  .header span {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding-left: 0;
  }

  .special-link {
    border: none;
    padding: 0;
    margin: 0;
  }
  .nav-list-item:last-child {
    font-weight: 800;
    border: none;
  }

  .nav-list-item {
    font-size: 1.5rem;
    padding-top: 1rem;
    margin-left: 0;
    padding-left: 0;
  }

  .span {
    font-size: 1rem;
    margin: 0 1rem;
  }

  .hidden {
    display: none;
  }
}

/* @media (min-width: 600px) {
  .header button {
    align-self: center;
    margin: 1rem 0;
    display: none;
  }
} */
