.header {
  background-color: blue;
  color: white;
  padding: 1rem;
}

.site-title {
  font-size: 2rem;
  margin-right: 1rem;
}

.span {
  font-size: 2rem;
  margin-right: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list-item {
  padding-left: 1rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  color: white;
}
