.navbar {
  padding-top: 0;
  margin-top: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

.nav-list-item {
  padding-left: 1rem;
  font-size: 1.3rem;
  padding-top: 0;
  margin-top: 0;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: yellow;
}

.abuelito-link {
  border-left: 1px solid white;
  padding-left: 1rem;
  padding-right: 9px;
}

.blog-link {
  border-left: 1px solid white;
  padding-left: 9px;
  padding-right: 1rem;
}

.nav-list-item:last-child {
  border-left: 1px solid white;
  font-weight: 800;
}
