.nav {
  padding-top: 0;
  margin-top: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

.nav-list-item {
  padding-left: 18px;
  font-size: 1.3rem;
  padding-top: 0;
  margin-top: 0;
}

.link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.link:hover {
  color: hsl(60, 100%, 50%);
}

.abuelito-link {
  border-left: 1px solid hsl(0, 0%, 100%);
  padding-left: 18px;
  padding-right: 9px;
}

.blog-link {
  border-left: 1px solid hsl(0, 0%, 100%);
  padding-left: 9px;
  padding-right: 18px;
}

.nav-list-item:last-child {
  border-left: 1px solid hsl(0, 0%, 100%);
  font-weight: 800;
}

/* All Media Queries for Nav */

@media screen and (max-width: 700px) {
  .nav {
    display: none;
  }

  .mobile-navlist {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
  }

  .open-nav {
    display: block;
    height: 100vh;
  }

  .nav-list-item {
    font-size: 1.75rem;
    padding: 0;
    margin: 18px 0;
  }

  .link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }

  .link:hover {
    color: hsl(60, 100%, 50%);
  }

  .abuelito-link {
    border: none;
    padding: 0;
  }

  .blog-link {
    border: none;
    padding: 0;
  }

  .nav-list-item:last-child {
    border: none;
    font-weight: 800;
  }

  .link p {
    margin: 0;
    padding: 0;
  }
}
